<!--The content below is only a placeholder and can be replaced.-->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand"><i class="fas fa-book-reader"></i>{{ title }}</a>
    <ul class="navbar-nav">
        <li><a class="nav-link" [routerLink]="['/']">Home</a></li>
      <li><a class="nav-link" [routerLink]="['/books']">Books</a></li>
    </ul>
  </nav>


<div class="container mt-3">

<!--
  removing this as moving this as router
  <pm-books></pm-books>-->
<router-outlet></router-outlet>
</div>


